*{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #e6f2ff;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.myInfo{
  width: 100%;
}
.myInfo #title{
  padding: 80px 30px 20px;
}
b{
  font-size: 20px;
}
p{
  padding: 0px 30px 20px;
}
.pic{
  width: 100%;
  padding-bottom: 5px;
}
.containerTwo{
  width: 100%;
  margin: 0 auto;
}
.myInfoTwo{
  width: 100%;
}
.myInfoTwo #title{
  padding: 15px 30px 20px;
}
.picTwo{
  width: 100%;
  padding-bottom: 10px;
}
.containerThree{
  width: 100%;
  margin: 0 auto;
}
.myInfoThree{
  width: 100%;
}
.myInfoThree #title{
  padding: 15px 30px 20px;
}
.picThree{
  width: 100%;
}
.containerLast{
  width: 100%;
  margin: 0 auto;
}
.contactInfo{
  width: 100%;
  padding-top: 10px;
  background-color: #4895cf;
  text-align: center;
  color: white;
}
.contactInfo a{
  color: white;
  font-size: 50px;
}
#liscence{
  padding-top: 2px;
  font-size: 12px;
}
hr{
  visibility: hidden;
}
/* Media Queries: Tablet Portrait */
@media only screen and (min-width: 768px) {
  .container{
    width: 768px;
    padding-bottom:5px;
  }
  .myInfo #title{
    padding: 80px 0px 10px;
  }
  p{
    padding: 10px 0px 0px;
  }
  .pic{
    padding-top: 20px;
  }
  .containerTwo{
    width: 768px;
    padding-bottom:5px;
  }
  .myInfoTwo #title{
    padding: 15px 0px 10px;
  }
  .picTwo{
    padding-top: 20px;
  }
  .containerThree{
    width: 768px;
  }
  .myInfoThree #title{
    padding: 15px 0px 10px;
  }
  .picThree{
    padding-top: 20px;
  }
  .containerLast{
    width: 100%;
    padding-bottom: 0px;
  }
}
/* Media Queries: Computer Screen */
@media only screen and (min-width: 1100px) {
  .container{
    width: 1100px;
    padding-bottom: 340px;
    padding-top: 60px;
  }
  .myInfo{
    width: 75%;
    float: right;
  }
  .myInfo #title{
    text-align: center;
    padding: 20px 20px 5px 40px;
  }
  p{
    padding: 10px 20px 5px 40px;
  }
  .pic{
    width: 25%;
    float: left;
  }
  .containerTwo{
    width: 1100px;
    padding-bottom: 355px;
  }
  .myInfoTwo #title{
    text-align: center;
    padding: 20px 20px 5px 40px;
  }
  .myInfoTwo{
    width: 75%;
    float: right;
  }
  .picTwo{
    width: 25%;
    float: left;
  }
  .containerThree{
    width: 1100px;
    padding-bottom: 350px;
  }
  .myInfoThree #title{
    text-align: center;
    padding: 20px 20px 5px 40px;
  }
  .myInfoThree{
    width: 75%;
    float: right;
  }
  .picThree{
    width: 25%;
    float: left;
  }
  .containerLast{
    width: 100%;
  }
  hr{
    visibility: visible;
    border: 2.5px solid white;
  }
}

/* Following code Adapted from: https://www.youtube.com/watch?v=oLgtucwjVII*/
/* Retrieved on: Jan. 20th, 2021 */

nav{
  position:fixed;
  overflow: hidden;
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  font-family: American Typewriter, serif;
  list-style: none;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0px 5px;
}
nav ul li a{
  color: white;
  padding: 7px, 13px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}
a:hover{
  color: #B0CEFE;
}

label.logo{
  float: left;
  color: #B0CEFE;
  font-size: 18px;
  line-height: 60px;
  pointer-events:none;
  padding: 0px 10px;

}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media only screen and (max-width: 1099px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    height: 100vh;
    background: black;
    top: 55px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
  }
  nav il li a{
    font-size: 20px;
  }
  #check:checked ~ ul, nav{
    position: fixed;
    left: 0;
    width:100%;
  }
}