*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e6f2ff;
}
.container{
  width: 100%;
  margin: 0 auto;
}

.myInfo{
  width: 100%;
}
.myInfo #title{
  padding: 80px 30px 20px;
}
.myInfo b{
  font-size: 20px;
}
.myInfo ul{
  padding: 0px 30px 10px;
}
.pic{
  width: 100%;
  padding-bottom: 5px;
}
.containerTwo{
  width: 100%;
  margin: 0 auto;
}
.myInfoTwo{
  width: 100%;
}
.myInfoTwo #title{
  padding: 15px 30px 20px;
}
.myInfoTwo b{
  font-size: 20px;
}
.myInfoTwo ul{
  padding: 0px 30px 20px;
}
.picTwo{
  width: 100%;
  padding-bottom: 10px;
}
.containerThree{
  width: 100%;
  margin: 0 auto;
}
.myInfoThree{
  width: 100%;
}
.myInfoThree #title{
  padding: 15px 30px 20px;
}
.myInfoThree b{
  font-size: 20px;
}
.myInfoThree ul{
  padding: 0px 30px 20px;
}
.picThree{
  width: 100%;
}
.containerLast{
  width: 100%;
  margin: 0 auto;
}
.contactInfo{
  width: 100%;
  background-color: #DCDCDC;
}
.contactInfo a{
  text-decoration: none;
  color: #3d3d3b;
}
.contactInfo h3{
  padding: 20px 0px 5px 30px;
}
.contactInfo p{
  padding: 5px 0px 0px 30px;
}
#links{
  word-spacing: 5px;
}
#liscence{
  padding-top: 2px;
  font-size: 12px;
}
#linkedIn{
  width: 2%;
}
#github{
  width: 2%;
}
hr{
  visibility: hidden;
}
/* Media Queries: Tabled Portrait */
@media only screen and (min-width: 768px) {
  .container{
    width: 600px;
    padding-bottom:5px;
  }
  .myInfo #title{
    padding: 80px 0px 10px;
  }
  .myInfo ul{
    padding: 10px 0px 0px;
  }
  .pic{
    padding-top: 20px;
  }
  .containerTwo{
    width: 600px;
    padding-bottom:5px;
  }
  .myInfoTwo #title{
    padding: 20px 0px 10px;
  }
  .myInfoTwo ul{
    padding: 10px 0px 0px;
  }
  .picTwo{
    padding-top: 20px;
  }
  .containerThree{
    width: 600px;
  }
  .myInfoThree #title{
    padding: 20px 0px 10px;
  }
  .myInfoThree ul{
    padding: 10px 0px 0px;
  }
  .picThree{
    padding-top: 20px;
  }
  .containerLast{
    width: 100%;
    padding-bottom: 0px;
  }
}
/* Media Queries: Computer Screen */
@media only screen and (min-width: 1120px) {
  
  .container{
    width: 1120px;
    padding-bottom: 400px;
  }
  .myInfo{
    width: 80%;
    float: right;
  }

  .myInfo #title{
    text-align: center;
    padding: 20px 20px 5px 40px;
  }

  .myInfo ul{
    padding: 30px 20px 5px 40px;
  }

  .pic{
    width: 16%;
    float: left;
  }
  .containerTwo{
    width: 1120px;
    padding-bottom: 400px;
  }
  .myInfoTwo #title{
    text-align: center;
    padding: 20px 20px 5px 40px;
  }
  .myInfoTwo{
    width: 81%;
    float: left;
  }

  .myInfoTwo ul{
    padding: 30px 20px 5px 40px;
  }

  .picTwo{
    width: 16%;
    float: right;
  }
  .containerThree{
    width: 1120px;
    padding-bottom: 25px;
  }
  .myInfoThree #title{
    text-align: center;
    padding: 20px 20px 5px 40px;
  }
  .myInfoThree{
    width: 70%;
    float: right;
  }

  .myInfoThree ul{
    padding: 30px 20px 5px 40px;
  }

  .picThree{
    width: 28%;
    float: left;
  }
  .containerLast{
    width: 100%;
    padding-top: 300px;
  }
  .contactInfo h3{
    padding-top: 15px;
  }
  hr{
    visibility: visible;
    border: 2.5px solid white;
  }
}

/* Following code Adapted from: https://www.youtube.com/watch?v=oLgtucwjVII*/
/* Retrieved on: Jan. 20th, 2021 */

nav{
  overflow: hidden;
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  font-family: American Typewriter, serif;
  list-style: none;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0px 5px;
}
nav ul li a{
  color: white;
  padding: 7px, 13px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}
a:hover{
  color: rgb(16, 105, 238);
}

label.logo{
  float: left;
  color: #B0CEFE;
  font-size: 18px;
  line-height: 60px;
  pointer-events:none;
  padding: 0px 10px;

}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media only screen and (max-width: 1120px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    height: 100vh;
    background: black;
    top: 55px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
  }
  nav il li a{
    font-size: 20px;
  }
  #check:checked ~ ul, nav{
    position: fixed;
    left: 0;
    width:100%;
  }
}