*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e6f2ff;
}
section{
  width: 100%;
  margin: 0 auto;
}
div{
  width: 100%;
}
#title{
  text-align: center;
  padding: 80px 30px 20px;
}
.date{
  font-size: 15px;
  color: #4d4d4d;
}
ul{
  padding: 0px 30px 10px;
}
img {
  width: 75%;
  padding-left: 12.2%;
  padding-top: 10px;
  padding-bottom: 5px;
}
h2{
  text-align: center;
  padding: 20px 30px 20px;
}
#lastImg{
  padding-bottom: 0px;
}
footer{
  padding: 5px 0px 5px 0px;
  background-color: #4895cf;
  text-align: center;
  color: white;
}
footer a{
  color: white;
  font-size: 50px;
}
#liscence{
  padding: 2px 0px 0px 0px;
  font-size: 12px;
}
a{
  color: #0962a7;
  text-decoration: none;
}
hr{
  border: 2.5px solid white;
}
/* Media Queries: Tablet Portrait */
@media only screen and (min-width: 768px) {
  section{
    width: 768px;
  }
  footer{
    width: 100%;
  }
}
/* Media Queries: Computer Screen */
@media only screen and (min-width: 1100px) {
  #latestProject{
    width: 1100px;
    padding-top: 90px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  img{
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  ul{
    padding-left: 40px;
  }
  #title, h2{
    padding-top: 0px;
  }
  .projectImg, #lastImg{
    width: 40%;
  }
  .midProjects{
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  #myFridgeImg, #bookExchangeImg{
    width: 60%;
  }
  #oldestProject{
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
  }
}

/* Following code Adapted from: https://www.youtube.com/watch?v=oLgtucwjVII*/
/* Retrieved on: Jan. 20th, 2021 */

nav{
  position: fixed;
  overflow: hidden;
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
  font-family: American Typewriter, serif;
  list-style: none;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0px 5px;
}
nav ul li a{
  color: white;
  padding: 7px, 13px;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}
nav a:hover{
  color: #B0CEFE;
}
section a:hover{
  color: #0661f3;
}
label.logo{
  float: left;
  color: #B0CEFE;
  font-size: 18px;
  line-height: 60px;
  pointer-events:none;
  padding: 0px 10px;

}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media only screen and (max-width: 1099px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    height: 100vh;
    background: black;
    top: 55px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
  }
  nav il li a{
    font-size: 20px;
  }
  #check:checked ~ ul, nav{
    position: fixed;
    left: 0;
    width:100%;
  }
}